<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <!-- 头部区域（可配合layui已有的水平导航） -->
	<div class="layui-header" th:fragment="head">
    <div class="layui-logo">Layui Admin</div>
    <ul class="layui-nav layui-layout-left temp">
      <li class="layui-nav-item">
        	<a href="javascrpt:;"><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></a>
      </li>
      <li class="layui-nav-item layui-this"><a href="javascrpt:;">用户模块</a></li>
      <li class="layui-nav-item"><a href="javascrpt:;">权限模块</a></li>
      <li class="layui-nav-item"><a href="javascrpt:;">日志模块</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="javascrpt:;">邮件管理</a></dd>
          <dd><a href="javascrpt:;">消息管理</a></dd>
          <dd><a href="javascrpt:;">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img"><label th:text="${session.username}"></label>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
    </ul>
  </div>
  
  
  <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
  <div class="layui-side layui-bg-black" th:fragment="side">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-shrink="all">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-set"></i>&nbsp;<span>所有商品</span></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="javascript:;">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i>&nbsp;解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="javascript:;">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="layui-icon layui-icon-note"></i>&nbsp;云市场</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="javascript:;">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i>&nbsp;发布商品</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="javascript:;">超链接</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- 底部固定区域 -->
  <div class="layui-footer" th:fragment="foot">
    © layui.com - 底部固定区域
  </div>
  
  <!-- 公共js -->
  <templates th:fragment="com_js">
  	<script th:src="@{statics/layui/layui.js}"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script th:src="@{statics/js/common.js}"></script>
  </templates>
</body>
</html>