<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}">
  <style type="text/css">
  	
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">  
	<!-- 引入头部 -->
	<div th:replace="common/nav :: head"></div>	
	<!-- 引入左侧菜单栏 -->
	<div th:replace="common/nav :: side"></div>
    <!-- 内容主体区域 -->
    <div class="layui-body" style="background-color: #f2f2f2;">
    	<h1>服务器总览页面</h1>
  	</div>
    <!-- 引入尾部 -->
    <div th:replace="common/nav :: foot"></div>
</div>
<!-- 引入公共js -->
<div th:replace="common/nav :: com_js"></div>
<script>
	showSideAndNav("server");
	layui.use(['element'], function(){
	   var form = layui.form;
	});
</script>
</body>
</html>