<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.eran.dao.SysLogMapper">
	    <resultMap id="sysLog" type="com.web.eran.entity.SysLog">
                  <result column="id" property="id" />
 		          <result column="user_id" property="userId" />
 		          <result column="user_action" property="userAction" />
 		          <result column="create_time" property="createTime" />
 		</resultMap>

    
    	
	<insert id="insert" parameterType="com.web.eran.entity.SysLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_log (  						
							user_id ,						
							user_action ,						
							create_time 						
		) VALUES ( 						
							#{userId,jdbcType=BIGINT},						
							#{userAction,jdbcType=VARCHAR},						
							#{createTime,jdbcType=TIMESTAMP}						
		)
	</insert>
	
	<update id="update" parameterType="com.web.eran.entity.SysLog">
		UPDATE sys_log	
	<trim prefix="set" suffixOverrides="," >  
	 				 <if test="id != null">id=#{id},</if>
				 				 <if test="userId != null">user_id=#{userId},</if>
				 				 <if test="userAction != null">user_action=#{userAction},</if>
								 <if test="createTime != null">create_time=#{createTime}</if>
		 	</trim> 
		WHERE 			id=#{id}      
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="Long">
        DELETE FROM sys_log	 WHERE 			id=#{id}      </delete>
	
	<delete id="deleteBySelective" parameterType="com.web.eran.entity.SysLog">
        DELETE FROM sys_log	 
         <where>   
		       <if test="id != null">id = #{id}</if>  
        		       <if test="userId != null">and user_id = #{userId}</if> 
	    		       <if test="userAction != null">and user_action = #{userAction}</if> 
	    		       <if test="createTime != null">and create_time = #{createTime}</if> 
	    	</where>
    </delete>
    
	<select id="findById" parameterType="java.lang.Long" resultMap="sysLog">
		SELECT 
			id as "id" ,			
			user_id as "userId" ,			
			user_action as "userAction" ,			
			create_time as "createTime" 			
		FROM sys_log
		WHERE
			id=#{id} 	</select>
	
<select id="findBySelective" parameterType="com.web.eran.entity.SysLog" resultMap="sysLog">
	SELECT
			 id as "id" ,			
			 user_id as "userId" ,			
			 user_action as "userAction" ,			
			 create_time as "createTime" 			
	FROM  sys_log  
	      <where> 
		       <if test="id != null">id = #{id}</if>  
        		       <if test="userId != null">and user_id = #{userId}</if> 
	    		       <if test="userAction != null">and user_action = #{userAction}</if> 
	    		       <if test="createTime != null">and create_time = #{createTime}</if> 
	    		</where>
	order by id desc
	<if test="startIndex!=null and maxResults!=null">
			limit #{ startIndex }, #{ maxResults }
		</if>
	</select>

	<select id="findBySelectiveCount"  resultType="java.lang.Integer">
		SELECT count(1) 
		FROM sys_log 
		 <where> 
		       <if test="id != null">id = #{id}</if>  
        		       <if test="userId != null">and user_id = #{userId}</if> 
	    		       <if test="userAction != null">and user_action = #{userAction}</if> 
	    		       <if test="createTime != null">and create_time = #{createTime}</if> 
	    		</where>
	</select>
</mapper>